@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

:root {
  --spacing: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
  transition: background-color ease-in-out 0.35s;
}

h1 {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  font-size: 3rem;
  text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  top: 48%;
  transform: translateY(-50%);
}

.number-container {
  position: relative;
}

.number-container span {
  width: 100%;
  border: 4px solid azure;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -10;
}

.number {
  display: block;
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  margin: auto;
}

.between {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  text-align: center;
  font-size: 1.4rem;
}

.again {
  display: block;
  margin: auto;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.check {
  display: block;
  margin: auto;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 7rem;
  padding: 1rem;
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.label-score {
  text-align: center;
  margin-bottom: var(--spacing);
  font-size: 2rem;
}

.label-highscore {
  text-align: center;
  font-size: 2rem;
}

@media screen and (min-width: 800px) {
  .container {
    position: absolute;
    width: 100%;
    top: 2%;
    transform: translateY(0%);
  }
  .top-container {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
  }
  .again {
    margin: 0;
    margin-left: 2rem;
  }
  .between {
    margin: 0;
    margin-right: 2rem;
  }
  h1 {
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 4rem;
  }
  .bottom-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
  }
  .left {
    width: 50%;
    margin-left: 7rem;
  }
  .right {
    width: 50%;
    align-self: center;
    margin-right: 7rem;
  }
  .label-score {
    font-size: 2.5rem;
  }
  .label-highscore {
    font-size: 2.5rem;
  }
  .guess {
    width: 28rem;
  }
}
